@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    color: #FFF;
    font-size: 1.2em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background-image: url("../img/background.png");
}

instructions, startscreen, gamescreen, gamoverscreen, background, sailor, treasury, miniTreasury, megaTreasury {
    position: absolute;
    display: block;
    box-sizing: border-box;
}

instructions {
    width: 100vw;
    padding:14px;
    font-size: 1.6em;
    filter: drop-shadow(5px 5px 0px #000000);
    z-index: 2;
}

startscreen div, gamoverscreen div {
    font-size: 3em;
    padding-top: 26vh;
    width: 100vw;
    text-align: center;
}

startscreen button, gamoverscreen button {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: calc(50vw - 120px);
    color: white;
    padding: 15px 32px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

background {
    background-image: url('../img/bg.png');
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #B1BF5C;
    width: 100vw;
    height: 100vh;
}

sailor {
    background-image: url('../img/monster.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 125px;
    cursor: pointer;
    z-index: 3px;
}

sailor:hover {
    filter: hue-rotate(90deg);
}

treasury {
    background-image: url('../img/building1.png');
    z-index: 3;
    width: 240px; 
    height: 240px;
    background-repeat: no-repeat;
    margin-top: 75px
}

miniTreasury {
    background-image: url('../img/building2.png');
    z-index: 3;
    width: 240px; 
    height: 240px;
    background-repeat: no-repeat;
    margin-top: 370px
}

megaTreasury {
    background-image: url('../img/building3.png');
    z-index: 3;
    width: 240px; 
    height: 240px;
    background-repeat: no-repeat;
    margin-top: 675px
}

/* .scoreCounter {
    margin-left: 60px;
    font-size: 2rem;
    z-index: 5;
} */

.scoreCounter{
    font-size: 50px;
    width: 200px;
    z-index: 50;
    text-align: right;
    margin-top: 20px;
    margin-left: 85rem;
    position: relative;
}

startscreen {
    background-image: url("../img/background.png");
}